*{
    margin: 0;
}
body{
    margin-left: 1em;
}
header{
    display: flex;

}
ul{
    list-style-type: none;
    display: flex;
    margin-left: 5em;
    gap: 5em;
}
img{
    width: 13em;
    height: 9em;
}
h1{
    text-align: center;
}
/*Section gallery*/
main .section3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main .section3 .allimg{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3.1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    will-change: transform;
}
main .section3 .carte{
    height: 300px;
    overflow: hidden;
}
.cart-env{
    will-change: transform;
}
.img{
    object-fit: cover;
}