*{
    margin: 0;
}
body{
    margin-left: 1em;
}
header{
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    height: 5em;
}
header img{
    width: 8%;
    height: 100%;
}
body{
    text-align: justify;
}
body a {
    color: #3f474e;
    text-decoration: none;
    font-size: 1.3em;
}
header ul a:hover{
    color: #007bff;
}
ul{
    list-style-type: none;
    display: flex;
    margin-left: 5em;
    gap: 5em;
}
img{
    width: 13em;
    height: 9em;
}
h1{
    text-align: center;
}
#section2{
    margin: 0;
    justify-items: center;
}
.pres{
    margin: 0;
    padding: 0;
    justify-content: center;
}
.pres h2{
    text-align: center;
}
/*Section gallery*/
.section3{
    margin: 0;
    padding: 0;
    justify-items: center;
}
.gallery{
    display: grid;/*indique qu'on use une grille*/
    --size: 100px; /*taille de la cellule dans la grille*/
    grid-template-columns: repeat(6, var(--size)); /*nombre et taille des colonnes*/
    gap: 5px; /*distance entre les cellules/photos */
    grid-auto-rows: var(--size); /*chaque column add à la grille aura la hauteur de la cellule définie*/
    place-items: start center; /*alignement des images dans la cellule: verticalement haut & horizontalement centré*/
    margin-bottom: var(--size); /*marge inférieure pour éviter les potentiels débordements*/
}
.gallery img{
    width: calc(var(--size)*2);/*largeur de l'image*/
    height:calc(var(--size)*2);/*hauteur de l'image*/
    object-fit: cover;
    grid-column: auto / span 2;/*L'image doit aller dans la cellule de texte diponible (auto) & occuper la largeur de deux cellules(span2)*/
    border-radius: 5px;
    clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");/*Pour recadrer l'image en forme de losange avec des coins arrondis*/
    transition: clip-path 0.25s, filter 0.75s ;
}
.gallery img:nth-child(5n-1){
    grid-column: 2 / span 2;
}
.gallery img:hover {
    clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
    transition: clip-path 0.25s, filter 0.25;
    z-index: 1; /*L'image survolée chevauche les élements frères*/
}
.gallery:has(img:hover) img:not(:hover){
    /*(lire de la droite à gaiche) selectionner tous les images non survolées parmi celles .gallery qui ont au moins une image survolée*/
    filter: blur(1.75px);
}
.gallery a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}
/*Section statistique*/
.section4{
    margin: 0;
    justify-items: center;
}
/*Responsivité*/
/* Media Queries pour la Responsivité */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.4;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 90%; /* Prend toute la largeur */
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }